<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
</head>
<body id="cartbg">
    <nav>
        <ul>
            <li><a href="{{ url_for('book_management')}}">Categories</a></li>
            <li><a href="{{ url_for('lend') }}">Lend Books</a></li>
            <li><a href="{{ url_for('cart_page') }}">Cart</a></li>
        </ul>

            <button id="logout"><a href="{{ url_for('login') }}" >Logout</a></button>
    </nav>
    <div class="cart-container">
            <h2>Shopping Cart</h2>
        <table id="cart-table">
            <thead>
                <tr>
                    <th id="book">Book</th>
                    <th id="start">Start Date</th>
                    <th id="end">End Date</th>
                </tr>
            </thead>
            <tbody id="cart-items">
                {% for item in cart %}

                <tr>
                    <td id="cbook">{{item.book}}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.end_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
  
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='script/script.js')}}"></script>
</body>
</html>